/*
*  Global Styling
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 22px;
  text-rendering: optimizeLegibility;
  color: #555;
  background-color: #3d6cb9; /* Pale Blue 4 */
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

h1 {
  margin: 0;
}

/*
* ------------------------------- Application Styling ------------------------------
*/

/* -------------------- Container ----------------------*/

.container {
  display: flex;
  flex-direction: column;
  padding: 2em 1em 0;
  background-color: #fff;
  height: 600px;
  width: 500px;
  border-radius: 0.1em;
  box-shadow: 0 0 8px #254b88;
}

.container div {
  margin-bottom: 1.5em;
}

/* ------------------ Header Section - Start --------------- */

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-icon {
  font-size: 300%;
}

.app-name {
  font-weight: 400;
  font-size: 240%;
}

/* ------------------ Header Section - End ---------------- */

/* ------------------ Search Section - Start --------------  */

.search-section {
  display: flex;
  justify-content: center;
}

.search-field {
  color: #555;
  border: 0;
  border-bottom: 2px solid #033fa0;
  width: 80%;
  height: 35px;
  text-align: center;
  background-image: url(images/search-sharp.svg);
  background-position: right;
  background-size: 25px;
  background-repeat: no-repeat;
}

.search-field:hover {
  color: #3d6cb9;
}

.search-field::placeholder {
  color: #555;
}

.search-field:hover::placeholder {
  color: #033fa0;
}



.search-field:focus {
  outline: none;
}



/* ------------------ Search Section - End ---------------- */



/* ---------------------------- ------------------------------------------
-------------------------- Keyframes -----------------------------------
*/