*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  color: #555;
  font-family: "Roboto", sans-serif;
}

/*
*** -------------------------------- Customized Native Components ----------------------------****
*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4e667e;
  margin-left: 5px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #34495e;
}

h1 {
  color: #3498db;
  top: 0;
}
