@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body {
  background: linear-gradient(to right, rgb(0, 0, 70), rgb(28, 181, 224));
}

/*
*** -------------------------------- Customized Native Components ----------------------------****
*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4e667e;
  margin-left: 5px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #34495e;
}

/*
*** -------------------------------- Base styling ----------------------------****
*/

.main-section {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 650px;
  height: 550px;
  background: #faf8f8;
  padding: 5px;
  box-shadow: 0px 0px 10px #033a68;
}

/*** ------------------- Header Section --------------------- ***/

.app-name {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
  color: rgb(85, 85, 85);
  font-weight: 300;
  font-size: 280%;
  font-family: "Suez One", serif;
}

/*** ------------------- Creation Section --------------------- ***/

.create-section {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.create-todo {
  width: 80%;
  height: 40px;
  border: 0;
  border-bottom: 2px solid;
  outline: none;
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
  background-color: transparent;
}

.create-todo::placeholder {
  transition: color 0.4s;
}

.create-todo:hover::placeholder {
  color: #000;
}

/*** ------------------- List Section --------------------- ***/

.todo-list {
  flex: 3;
  background-color: #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  background: #faf8f8;
}

/*** ------------------- List Element --------------------- ***/

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 17px;
  margin-bottom: 17px;
  border-radius: 5px;
  height: 40px;
}

/*** ------------------- Task Name --------------------- ***/

.task-name {
  border-radius: 5px;
  background-color: #fff;
  padding-left: 10px;
  padding-top: 10px;
  width: 90%;
  justify-content: flex-start;
  margin-left: 10px;
  height: 100%;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.task-name:hover {
  background-color: #c0c0c0;
  color: #fff;
}

.completed {
  text-decoration: line-through;
}

/*** ------------------- Task Action --------------------- ***/

.delete-todo {
  height: 100%;
  padding: 3px 10px 0 10px;
  border-radius: 50%;
  border: 2px solid #e74c3c;
  font-weight: bold;
  cursor: pointer;
  background-color: #e74c3c;
  color: #fff;
  font-size: 20px;
  outline: none;
  transition: color 0.3s, background-color 0.3s;
}

.delete-todo:hover {
  background-color: #c0392b;
  border: 2px solid #c0392b;
  color: #000;
}

/*** ------------------- Empty State --------------------- ***/

.empty-state {
  margin-top: 25px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(85, 85, 85);
}

.empty-state__icon {
  font-size: 370%;
}

.empty-state__icon,
.empty-state__title {
  margin-bottom: 15px;
}

.empty-state__title {
  font-size: 180%;
}

.empty-state__description {
  font-size: 25px;
}

.todo-list:empty {
  display: none;
}

.todo-list:empty + .empty-state {
  display: flex;
}
