/**

background-color: #3498db;
hover color: #2980b9

*/

/*
* External Font
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 20px;
  text-rendering: opti10px 30px 10px 20pxmizelegibility;
  color: #555;
  background-color: #3498db;
  font-family: "Roboto", sans-serif;
}

.container {
  overflow: auto;
  overflow-y: none;
  margin: 20px auto 0 auto;
  width: 980px;
  height: 620px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px #2980b9;
}

/*
*** -------------------------------- Customized Native Components ----------------------------****
*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4e667e;
  margin-left: 5px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #34495e;
}

/* ----------------------------- App Name ---------------------------------*/

.app-name {
  color: #1f74ac;
  font-size: 300%;
  font-weight: 200;
  width: 200px;
  margin: 40px auto 40px auto;
}

/*
*** -------------------------------- Search Section ----------------------------****
*/
.search-section {
  width: 600px;
  margin: 0 auto 50px auto;
}

.search-textbox {
  height: 40px;
  width: 100%;
  border-bottom: 1.5px solid #3498db;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  text-align: center;
  outline: none;
  color: #2980b9;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  transition: border-bottom 0.3s;
}

.search-textbox:hover {
  border-bottom: 1.5px solid #2980b9;
}

.search-textbox::placeholder {
  color: #2980b9;
  transition: color 0.3s, font-size 0.2s;
}

.search-textbox:hover::placeholder {
  color: #3498db;
  font-size: 18px;
}

/*
*** -------------------------------- Notes Section ----------------------------****
*/

.notes-container {
  width: 750px;
  margin: 0 auto;
  height: 300px;
  overflow-y: scroll;
}

/* ----------------------------------- Notes ----------------------------------*/

.new-note {
  margin-left: 120px;
  margin-bottom: 10px;
  border: 1px solid #3498db;
  background-color: #3498db;
  border-radius: 2em;
  padding: 10px 40px;
  color: #fff;
  outline: none;
  transition: 0.4s;
  text-transform: uppercase;
  font-weight: 500;
}

.new-note:hover,
.new-note:active {
  background-color: #1b6291;
}

.notes {
  border-collapse: collapse;
}

.notes {
  margin-top: 15px;
  overflow-y: scroll;
}

.note-title {
  width: 75%;
  height: 40px;
  padding-left: 10px;
}

tr {
  border-bottom: 2px solid #bdc3c7;
}
