*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  color: #ccc;
  background-color: #3498db;
}
